<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>News Feed | Check what your friends are doing</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/style.css"/>
    <link rel="stylesheet" href="../../../css/ionicons.min.css"/>
    <link rel="stylesheet" href="../../../css/font-awesome.min.css"/>
    <link href="../../../css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../login.html"><img src="../../../images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Home <span><img src="../../../images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="../index.html">Landing Page 1</a></li>
                            <li><a href="../login.html">Landing Page 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Newsfeed <span><img src="../../../images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="newsfeed.html">Newsfeed</a></li>
                            <li><a th:href="@{'/request?idU=' + ${userAcc.getId()}}">Friend request</a></li>
                            <li><a th:href="@{'/friend?idU=' + ${userAcc.getId()}}">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-images.html">Images</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Timeline <span><img src="../../../images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu login">
                            <li><a th:href="@{/timeline?userId=__*{userAcc.id}__}">Timeline</a></li>
                            <li><a href="../../../timeline-about.html">Timeline About</a></li>
                            <li><a href="../../../timeline-album.html">Timeline Album</a></li>
                            <li><a href="../../../timeline-friends.html">Timeline Friends</a></li>
                            <li><a href="../../../edit-profile-basic.html">Edit: Basic Info</a></li>
                            <li><a href="../../../edit-profile-work-edu.html">Edit: Work</a></li>
                            <li><a href="../../../edit-profile-interests.html">Edit: Interests</a></li>
                            <li><a href="../../../edit-profile-settings.html">Account Settings</a></li>
                            <li><a href="../../../edit-profile-password.html">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">All Pages <span><img
                                src="../../../images/down-arrow.png"
                                alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a href="../index.html">Landing Page 1</a></li>
                            <li><a href="../login.html">Landing Page 2</a></li>
                            <li><a href="newsfeed.html">Newsfeed</a></li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li><a href="newsfeed-friends.html">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                            <li><a th:href="@{/timeline?userId=__*{userAcc.getId()}__}">Timeline</a></li>
                            <li><a href="../../../timeline-about.html">Timeline About</a></li>
                            <li><a href="../../../timeline-album.html">Timeline Album</a></li>
                            <li><a href="../../../timeline-friends.html">Timeline Friends</a></li>
                            <li><a href="../../../edit-profile-basic.html">Edit Profile</a></li>
                            <li><a href="../../../contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a th:href="@{/timeline?userId=__*{userAcc.id}__}" th:text="${userAcc.getUsername()}"></a>
                    <li class="dropdown"><a href="/login/logout" >Logout</a></li>
                    </li>
                </ul>
                <form class="navbar-form navbar-right hidden-sm" action="/friendSearch">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search friends, photos, videos" name="searchName">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<div id="page-contents">
    <div class="container">
        <div class="row">

            <!-- Newsfeed Common Side Bar Left
            ================================================= -->
            <div class="col-md-3 static">
                <div class="profile-card">
                    <img th:src="@{${imageUserAcc.urlImg}}" alt="user" class="profile-photo"/>
                    <h5><a th:href="@{/timeline?userId=__*{userAcc.id}__}" class="text-white" th:text="${userAcc.fullName}"></a></h5>
                    <a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>
                </div><!--profile card ends-->
                <ul class="nav-news-feed">
                    <li><i class="icon ion-ios-paper"></i>
                        <div><a th:href="@{'/successfully?userId=' + ${userAcc.getId()}}">My Newsfeed</a></div>
                    </li>
                    <li><i class="icon ion-ios-people"></i>
                        <div><a th:href="@{'/request?idU=' + ${userAcc.getId()}}">Friend request</a></div>
                    </li>
                    <li><i class="icon ion-ios-people-outline"></i>
                        <div><a th:href="@{'/friend?idU=' + ${userAcc.getId()}}">Friends</a></div>
                    </li>
                    <li><i class="icon ion-chatboxes"></i>
                        <div><a href="newsfeed-messages.html">Messages</a></div>
                    </li>
                    <li><i class="icon ion-images"></i>
                        <div><a href="newsfeed-images.html">Images</a></div>
                    </li>
                    <li><i class="icon ion-ios-videocam"></i>
                        <div><a href="newsfeed-videos.html">Videos</a></div>
                    </li>
                </ul><!--news-feed links ends-->
                <div id="chat-block">
                    <div class="title">Chat online</div>
                    <ul class="online-users list-inline">
                        <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="http://placehold.it/300x300"
                                                                                      alt="user"
                                                                                      class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="http://placehold.it/300x300"
                                                                                     alt="user"
                                                                                     class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="John Doe"><img src="http://placehold.it/300x300"
                                                                                   alt="user"
                                                                                   class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="http://placehold.it/300x300"
                                                                                       alt="user"
                                                                                       class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="James Carter"><img src="http://placehold.it/300x300"
                                                                                       alt="user"
                                                                                       class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="http://placehold.it/300x300"
                                                                                      alt="user"
                                                                                      class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="Richard Bell"><img src="http://placehold.it/300x300"
                                                                                       alt="user"
                                                                                       class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="Anna Young"><img src="http://placehold.it/300x300"
                                                                                     alt="user"
                                                                                     class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                        <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="http://placehold.it/300x300"
                                                                                    alt="user"
                                                                                    class="img-responsive profile-photo"/><span
                                class="online-dot"></span></a></li>
                    </ul>
                </div><!--chat block ends-->
            </div>


            <!-- Post Create Box
                ================================================= -->
            <div class="col-md-7">
                <form action="/timeline/post" method="post">
                    <div class="create-post">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <img th:src="@{${imageUserAcc.urlImg}}" alt="" class="profile-photo-md"/>
                                    <textarea name="content" id="exampleTextarea" cols="40" rows="1"
                                              class="form-control"
                                              placeholder="Write what you wish"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="tools">
                                    <select name="status" id="status">
                                        <option value="1">&#xf0ac; Public</option>
                                        <option value="2">&#xf0c0; Friend</option>
                                        <option value="3">&#xf023; Private</option>
                                    </select>
                                    &ensp;
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal">
                                        <i class="ion-images"></i></button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Upload
                                                        image</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <center>
                                                    <div class="modal-body">
                                                        <p><input type="text" name="image" style="width: 400px">&ensp;Your
                                                            image</p>
                                                    </div>
                                                </center>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary">Save changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> &ensp;
                                    <button class="btn btn-primary pull-right">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Post Create Box End-->

                <!-- Post Content
                ================================================= -->
                <th:block th:each="post : ${posts}">
                    <th:block th:if="${post.status != 0}">
                        <div class="post-content">
                            <img th:src="@{${post.image}}" alt="post-image" class="img-responsive post-image"/>
                            <div class="post-container">
                                <th:block th:each="iU : ${imageUsers}">
                                    <th:block th:if="${post.user.id == iU.id}">
                                        <img th:src="@{${iU.urlImg}}" alt="user"
                                             class="profile-photo-md pull-left"/>
                                    </th:block>
                                </th:block>
                                <div class="post-detail">
                                    <div class="user-info">
                                        <h5><a th:href="@{/timeline?userId=__*{post.user.id}__}" class="profile-link"
                                               th:text="${post.user.fullName}"></a></h5>
                                        <p class="text-muted" th:text="${post.dateTime}"></p>
                                    </div>
                                    <div class="reaction">
                                        <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                                        <th:block th:if="${userAcc.id == post.user.id}">
                                            <a class="btn text-green"
                                               th:href="@{/newsfeed/post-delete?postId=__${post.id}__}"
                                               onclick="return confirm('Are you sure?')"><i
                                                    class="fas fa-trash-alt"></i></a>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#exampleModal'+ ${post.id}" >
                                                <i class="fas fa-cogs"></i></button>
                                            <!-- Modal -->
                                            <div class="modal fade" th:id="'exampleModal'+ ${post.id}" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel1">Update
                                                                post</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form th:action="@{/newsfeed/post-update}"
                                                              method="post">
                                                            <input type="hidden" th:value="${post.id}" name="postId">
                                                            <div class="modal-body">
                                                                <p><input type="text" name="content" style="width: 400px" th:value="${post.content}">&ensp;Content</p>
                                                                <p><input type="text" name="image" style="width: 400px" th:value="${post.image}">&ensp;Image
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <input type="submit" class="btn btn-primary"
                                                                       value="Save changes">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="line-divider"></div>
                                    <div class="post-text">
                                        <p th:text="${post.content}"><i class="em em-anguished"></i> <i
                                                class="em em-anguished"></i> <i
                                                class="em em-anguished"></i></p>
                                    </div>
                                    <div class="line-divider"></div>

                                    <th:block th:each="comment : ${comments}">
                                        <th:block th:if="${comment.post.id == post.id}">
                                            <div class="post-comment">
                                                <th:block th:each="iU : ${imageUsers}">
                                                    <th:block th:if="${comment.user.id == iU.id}">
                                                        <img th:src="@{${iU.urlImg}}" alt=""
                                                             class="profile-photo-sm"/>
                                                    </th:block>
                                                </th:block>
                                                <a th:href="@{'/timeline?userId=' + ${comment.user.id}}" class="profile-link"
                                                   th:text="${comment.user.fullName}"></a>&ensp;&ensp;<span
                                                    th:text="${comment.comment}"></span>
                                            </div>
                                        </th:block>
                                    </th:block>
                                    <div class="post-comment">
                                        <form th:action="@{/newfeed/post-comment?postId=__${post.id}__}"
                                              method="post">
                                            <img th:src="@{${imageUserAcc.urlImg}}" alt="" class="profile-photo-sm"/>
                                            <input name="comment" type="text" class="form-control"
                                                   placeholder="Post a comment">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>

            <!-- Newsfeed Common Side Bar Right
            ================================================= -->
            <div class="col-md-2 static">
                <div class="suggestions" id="sticky-sidebar">
                    <h4 class="grey">Who to Follow</h4>
                    <div class="follow-user">
                        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left"/>
                        <div>
                            <h5><a href="timeline.html">Diana Amber</a></h5>
                            <a href="#" class="text-green">Add friend</a>
                        </div>
                    </div>
                    <div class="follow-user">
                        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left"/>
                        <div>
                            <h5><a href="timeline.html">Cris Haris</a></h5>
                            <a href="#" class="text-green">Add friend</a>
                        </div>
                    </div>
                    <div class="follow-user">
                        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left"/>
                        <div>
                            <h5><a href="timeline.html">Brian Walton</a></h5>
                            <a href="#" class="text-green">Add friend</a>
                        </div>
                    </div>
                    <div class="follow-user">
                        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left"/>
                        <div>
                            <h5><a href="timeline.html">Olivia Steward</a></h5>
                            <a href="#" class="text-green">Add friend</a>
                        </div>
                    </div>
                    <div class="follow-user">
                        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left"/>
                        <div>
                            <h5><a href="timeline.html">Sophia Page</a></h5>
                            <a href="#" class="text-green">Add friend</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">
                <div class="col-md-3 col-sm-3">
                    <a href=""><img src="images/logo-black.png" alt="" class="footer-logo"/></a>
                    <ul class="list-inline social-icons">
                        <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h5>For individuals</h5>
                    <ul class="footer-links">
                        <li><a href="">Signup</a></li>
                        <li><a href="">login</a></li>
                        <li><a href="">Explore</a></li>
                        <li><a href="">Finder app</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Language settings</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h5>For businesses</h5>
                    <ul class="footer-links">
                        <li><a href="">Business signup</a></li>
                        <li><a href="">Business login</a></li>
                        <li><a href="">Benefits</a></li>
                        <li><a href="">Resources</a></li>
                        <li><a href="">Advertise</a></li>
                        <li><a href="">Setup</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h5>About</h5>
                    <ul class="footer-links">
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h5>Contact Us</h5>
                    <ul class="contact">
                        <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
                        <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
                        <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Thunder Team © 2016. All rights reserved</p>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky-kit.min.js"></script>
<script src="js/jquery.scrollbar.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
